@charset "en";

/* fonte interna */
@font-face {
    font-family: 'Title';
    src: url(../fonts/Adamant_BG.otf);
}
@font-face {
    font-family: 'Title2';
    src: url(../fonts/STREETI_.ttf);
}

:root
{
    /* cores do site */
    --color-bg: #0E0E0E;
    --color-main: #D7C5AC;
    --color-main-tras: #e0c7a30e;
    --color-aside: #5f5d5a;
    --color-text-card: #413C39;
    --color-bg-card: #181715;
    --color-strong-card: #504842;
    /* fontes: */
    /* padrão */
    --font-standard: Arial, Helvetica, sans-serif;
}

/* Resetando as estilizações */
* {
    margin: 0px;
    padding: 0px;
}

/* estilização do body e html */
html, body
{
    /* atribuindo familia de fonte padrão ao site */
    font-family: var(--font-standard);

    /* atribuindo cor de fundo */
    background-color: var(--color-bg);

    /* atribuindo cor no texto */
    color: var(--color-main);
}

::-webkit-scrollbar {
    display: none;
}



/* estilização generica */

/*estilização do conteúdo principal*/
main {
    /* ocupar a largura e altura do site por completo */
    width: 99.7vw;
    height: 99vh;

    color: var(--color-main);
}


/* estilizaão de titulos */

h1 {
    display: block;
    margin: auto;
    /* configurando texto */
    font-family: Title;
    font-weight: normal;
    text-align: center;
    font-size: 5em;


}

/* estilização do subtitulo */
#sub-title
{
    text-align: center;
    margin: auto;
    color: #504842;
    width: 300px;
}

/*dos links: */
a {
    /* estili\zandop texto*/
    text-decoration: none;
    /* cor dos textos */
    color: var(--color-main);
}

/* estilizando div da uimagem */
#bg-face
{
    /* fundo da div */
    background: no-repeat top center url("../img/backgrund1.png");

    width: 99.5vw;
    height: 500px;
}

/* estilizando a caixa de contatos */
#contato
{
    /*largura minimaa*/
    min-width: 250px;
    /*largura maxima*/
    max-width: 500px;
    /* altura miniuma */
    height: 25px;
    /* configuraando propriedades da box */
    /* centraliza horizontalmente a sessão de contatos margim */
    margin: 30px auto 10px auto;
    /* espaço interno na sessão de contatos*/
    padding: 20px;
    
    /* configurando o texto */
    /* centralizando os textos */
    text-align: center;

    /* confugurando fundo  */
    
    /* cor de fundio */
    background: var(--color-main-tras);
    /* ver atravez das coisas com blur */
    backdrop-filter: blur(4px);

    /*bordas*/
    /* arredondando a bordA */
    border-radius: 3px;

    /* ESTILIZANDO AS ÂNCVOREAS DERNTRO DE CONTATOS */
    a {
        /* configuraando propriedades da box */
        
        padding: 15px 40px 15px 40px;
        margin: 5px;
        
    }

    a:hover {
        background-color: var(--color-main);
        color: var(--color-bg);
        border-radius: 3px;
        transition: all .3s;
        
    }
}

/* estilização botão mais */

/* conteudo escondido */
span#show {
    /* torna invisivel */
    display: none;
    /* tentativa de transição suave */
    transition: display .5s;
}

/* configurações do bootão de mostrar mais */
#btn-show-more
{
    /* tamanho */
    width: 50px;
    height: 50px;
    /* configuraçlão da box do botão */
    display: block;
    margin: auto;
}

/* cursor muda ao passar no botão */
#btn-show-more:hover
{
    cursor: pointer;
}

/* estilização do icons-redes */

#icons-redes
{
    /* tamanho */
    width: 99.5vw;
    /* cnfigurando posiçao dos compoeews */
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
}

/* das imagens dentro  */
#icons-redes img
{
    
    /* tamanho */
    width: 30px;
    height: 30px;

    /* configuraçlão da box */
    display: inline;
    margin: auto;

    margin: 60px 40px 40px 20px;
    
}

/* pseuuuuuuuuuuuuuuuuuud classe mouse por ia da uimagem */
#icons-redes img:hover
{
    /* efeito de luz ao redor do botão */
    filter: drop-shadow(0 0 .5rem #e0c7a38a);
}

/* estilizando os cards */
#container-cards
{
    margin-top: 20px;
    /* configuranbdo box */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards {
    /* tamanho */
    width: clamp(200px, 250px, 300px);
    height: clamp(100px, 150, 300);
    /* configurando o box */
    margin: 30px;
    padding: 40px;

    /* fundo */
    background-color: var(--color-bg-card);

    /* estilização de paragrafo do card */
    p {
        /* texto */
        font-size: small;
        color: var(--color-text-card);

        /* box */
        padding: 3px;
    }
    /* estilizando titulo do card */
    h2 {
        font-family: Title;
        color: var(--color-text-card);
    }

    #card-more {
        display: flex;
        justify-items: center;
        margin-top: 10px;
        color: var(--color-title-card);
        
        a {
            color: var(--color-text-card);
            vertical-align: middle;
        }

        img {
            width: 25px;
            height: 25px;
        }
    }
}

/* estilizando sessão de work */

#work {
    margin-top: 40px;

    h2 {
        font-family: Title2;
        font-size: 2.3em;
        font-weight: lighter;
        margin-left: 270px;
        margin-bottom: 10px;
        color: var(--color-main);
    }
}

#container-work
{
    /* box */
    display: flex;
    justify-content: center;
margin-top: 60px;

    flex-direction: row;
    flex-wrap: wrap;
    columns: 2;
    
    column-gap: 10px;
    row-gap: 10px;

    column-gap: 15px;
    row-gap: 30px;
    /* tamanho */
    width: 1000px;
    margin: auto;
}

.work-card
{
    /* box */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* tamanho */
    width: 400px;
    height: 350px;
    padding: 10px;
    /* fundo */
    background-color: #5f5d5a;
}

.work-card-more
{
    /* tamanho */
    width: 350px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #0E0E0E;
}