@charset "en";

:root
{
    /* cores do site */
    --color-bg: #0E0E0E;
    --color-main: #D7C5AC;
    --color-main-tras: #d7c5ac09;
    --color-aside: #3f3d3a;
    /* fontes: */
    /* padrão */
    --font-standard: Arial, Helvetica, sans-serif;
}

/* Resetando as estilizações */
* {
    margin: 0px;
    padding: 0px;
}

/* estilização do body e html */
html, css
{
    /* atribuindo familia de fonte padrão ao site */
    font-family: var(--font-standard);

    /* atribuindo cor de fundo */
    background-color: var(--color-bg);

    /* atribuindo cor no texto */
    color: var(--color-main);
}

::-webkit-scrollbar {
    display: none;
}



/* estilização generica */

/*estilização do conteúdo principal*/
main {
    /* ocupar a largura e altura do site por completo */
    width: 99.7vw;
    height: 99vh;
}


/* estilizaão de titulos */

h1 {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 5em;
}

/* estilização do subtitulo */
#sub-title
{
    text-align: center;
    margin: auto;
    color: var(--color-aside);
    width: 300px;
}

/*dos links: */
a {
    /* estili\zandop texto*/
    text-decoration: none;
    /* cor dos textos */
    color: var(--color-main);
}

/* estilizando div da uimagem */
#bg-face
{
    /* fundo da div */
    background: no-repeat top center url("../img/backgrund1.png");

    width: 99.5vw;
    height: 500px;
}

/* estilizando a caixa de contatos */
#contato
{
    /*largura minimaa*/
    min-width: 250px;
    /*largura maxima*/
    max-width: 500px;
    /* altura miniuma */
    height: 25px;
    /* configuraando propriedades da box */
    /* centraliza horizontalmente a sessão de contatos margim */
    margin: 10px auto 10px auto;
    /* espaço interno na sessão de contatos*/
    padding: 20px;
    
    /* configurando o texto */
    /* centralizando os textos */
    text-align: center;

    /* confugurando fundo  */
    
    /* cor de fundio */
    background: var(--color-main-tras);
    /* ver atravez das coisas com blur */
    backdrop-filter: blur(4px);

    /*bordas*/
    /* arredondando a bordA */
    border-radius: 3px;

    /* ESTILIZANDO AS ÂNCVOREAS DERNTRO DE CONTATOS */
    a {
        /* configuraando propriedades da box */
        
        padding: 15px 40px 15px 40px;
        margin: 5px;
        
    }

    a:hover {
        background-color: var(--color-main);
        color: var(--color-bg);
        border-radius: 3px;
        transition: all .3s;
        
    }
}

/* estilização botão mais */

span#show {
    display: none;
}

#btn-show-more
{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}

#btn-show-more:hover
{
    cursor: pointer;
}